<html>

	
<head>
		
<title> Comparison between Two Stars </title>


			
<style>
				
body {background-color: #5a5175;}
				
table {background-color: #736c89;
					
color:white; width:80%;
 height:600;   					
margin-left:10%;
    					
margin-right:10%}
			
</style>

	
</head>



<body>

<br>
<br>


<table>

    

<tr bgcolor = #333399>
 
<td>Column 1 </td>
<td>Comparison</td>
 
<td>Column 2 </td>
</tr>
  

<tr>
<td>matplot output</td>
 
<td rowspan=2>          <b>_____________  HipparcosID ______________ </b>
            <br>
            <b>______________ Constellation _____________</b>
            <br>
            <b>______________ Distance ______________</b>
            <br>
            <b>______________ Magnitude ______________</b>
            <br>
            <b>______________ Absolute Magnitude _____________</b>
            <br>
            <b>______________ Luminosity ______________</b>
            <br>
            <b> <br>      <center>   Variable Magnitude </center>           </b>
            <br>
            <input type = "number" name = "min" >
            <b> Min </b>
            <input type = "number" name = "min">
            <br>
            <input type = "number" name = "max" >
            <b> Max </b>
            <input type = "number" name = "max">
            <br>
            <b> Link to star on left</b>
            <br>
            <b> Link to star on right</b>
    </td>
<td>matplot output</td>
</tr>


<tr>
<td>jpeg image here</td>

<td>jpeg image here</td>
</tr>
</table>